/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.wrapper {
    flex-wrap: wrap;
}

/*SOLUZIONE XS RESPONSIVE*/

/*HEADER*/

header {
    width: 40px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);
}

/*CONTAINER-UP-HEADER*/

.container-up-header span {
    color: white;
}

#logo {
    display: none;
    width: 9rem;
    padding: 1rem;
}

#logo-small {
    height: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

/*FEATURES*/

.features {
    flex-direction: column;
    color: white;
    margin-top: 0.5rem;
}

.features img {
    height: 1.5rem;
}

.features span {
    display: none;
}

/*PLAYLIST*/

.playlist {
    display: none;
}

/*CONTAINER-BOTTOM-HEADER*/

.container-bottom-header {
    flex-direction: column;
    align-items: center;
}

/*INSTALL-APP*/

.install-app img {
    height: 0.9rem;
}

.install-app span {
    display: none;
}

/*PROFILE*/

.profile {
    margin: 0.5rem 0;
    align-items: center;
}

.profile img {
    background-color: rgb(128, 128, 128);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.profile span {
    display: none;
}

/*MAIN*/

main {
    background-color: rgb(20, 25, 34);
    width: calc(100vw - 40px);
    height: calc(100vh - 70px);
    overflow: auto;
}

/*CTA*/

.cta {
    width: 100%;
    height: 80px;
    background-color: rgb(8, 11, 18);
    padding-left: 16rem;
    padding-top: 1.5rem;
}

.cta span {
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 3rem;
    font-size: 0.7rem;
    padding: 0.7rem 2rem;
    font-weight: 600;
}

/*GENRES*/

.genres {
    justify-content: center;
}

.container-genres {
    list-style: none;
    color: rgb(117, 120, 125);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.81rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-genres li {
    margin: 0.5rem;
}

/*CONTAINER-RECENTLY-PLAYED*/

.container-recently-played {
    margin: 1rem;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}

.card {
    flex-direction: column;
    height: 7.5rem;
    width: 7.5rem;
    text-align: center;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
}



/*TASKBAR*/

.taskbar {
    width: 100%;
    height: 70px;
    background-color: rgb(40, 40, 40);
}

/*CONTAINER-LEFT-TASKBAR*/

.container-left-taskbar {
    align-items: center;
    width: calc(100% / 3);
}

/*NOW-PLAYING*/

.now-playing {
    width: 100%;
    justify-content: space-around;
}

.song {
    align-items: center;
}

.now-playing img {
    height: 2rem;
}

/*SONG-INFO*/

.song-info {
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
}

.song-info span:first-child {
    color: white;
    font-size: 0.6rem;
    font-weight: 700;
}

.song-info span:last-child {
    color: rgb(122, 122, 122);
    font-size: 0.5rem;
    font-weight: 700;
}

/*ACTION SONG*/

.action-song {
    flex-direction: column;
    font-size: 0.7rem;
    justify-content: center;
}

/*CONTAINER-CENTRAL-TASKBAR*/

.container-central-taskbar {
    width: calc(100% / 3);
    align-items: center;
    justify-content: center;
}

/*MUSIC-CONTROL-BAR*/

.music-control-bar {
    width: 150px;
    justify-content: space-between;
}

/*CONTAINER-RIGHT-TASKBAR*/

.container-right-taskbar {
    width: calc(100% / 3);
    align-items: center;
    position: relative;
}

/*RIGHT-CONTROL*/

.right-control {
    width: 100%;
    justify-content: space-around;
}








/*****SOLUZIONE S RESPONSIVE*****/

@media screen and (min-width: 576px) {

    /*HEADER*/

    header {
        width: 200px;
        font-weight: 600;
        padding-left: 1rem;
    }

    /*CONTAINER-UP-HEADER*/

    #logo-small {
        display: none;
    }

    #logo {
        display: inline;
        padding-left: 0.2rem;
    }

    /*FEATURES*/

    .features {
        flex-direction: row;
        align-items: center;
    }

    .features span {
        display: inline;
        font-size: 0.7rem;
    }

    /*PLAYLIST*/
    
    .playlist {
        display: inline-flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .playlist span {
        font-size: 0.7rem;
        color: rgb(122, 122, 122);
        margin-bottom: 0.5rem;
    }

    .create-playlists {
        margin-bottom: 0.5rem;
    }

    /*CONTAINER-BOTTOM-HEADER*/

    .container-bottom-header {
        align-items: flex-start;
    }

    /*INSTALL*/

    .install-app {
        border-bottom: 1px solid rgb(119, 119, 119);
    }

    .install-app span {
        display: inline;
        color: rgb(119, 119, 119);
        font-size: 0.7rem;
        vertical-align: top;
    }

    /*PROFILE*/

    .profile {
        color: white;
        align-items: center;
    }

    .profile span {
        display: inline;
        font-size: 0.8rem;
        padding-left: 0.5rem;
    }

    /*MAIN*/

    main {
        width: calc(100vw - 200px);
    }

    /*TASKBAR*/

    .taskbar {
    width: 100%;
    height: 70px;
    background-color: rgb(40, 40, 40);
    }
}



